# Firebase Web Config
NEXT_PUBLIC_FIREBASE_API_KEY=YOUR_API_KEY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=com-ncert-projectgurukul-e5e60.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=com-ncert-projectgurukul-e5e60
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=com-ncert-projectgurukul-e5e60.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=294377884868
NEXT_PUBLIC_FIREBASE_APP_ID=1:294377884868:web:547d4a6487f004d3368d91

# Backend API
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
